@page "/chat"

@using Microsoft.AspNetCore.Components

@inject NavigationManager _navigationManager
@inject HttpClient _httpClient

<h3>Chat</h3>

<EditForm Model="newChatMessage" OnValidSubmit="SendMessage">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="newChatMessage.Name"></InputText>
    </div>
    <div class="form-group">
        <label>Message</label>
        <InputText class="form-control" @bind-Value="newChatMessage.Message"></InputText>
    </div>
    <button class="btn btn-primary" type="submit">Send Message</button>
</EditForm>
<hr />
<div class="col"> 
    <Virtualize Items="Messages.OrderByDescending(m=>m.Time).ToList()" Context="message">
        <li class="card bg-gradient border-3">
            <label class="card-header text-primary text-lg-start">@message.Name</label>
            <p class="card-body ">@message.Message</p>
            <label class="card-footer text-primary text-lg-end">@message.Time.ToString("HH:mm")</label>
        </li>
    </Virtualize>
</div>
